@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* Padrão*/
*{
    font-size:100%;
    font-weight: 400;
    font-family: 'Oswald',Arial, sans-serif;
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
    background-color: #e1e1e1;
}
p{
    font-size:1em;
    color:rgba(0, 0, 0, 0.867);
}
h2{font-size:1.2em;
    color:#C94040;
    margin: 5%;
}
/* Header */
header{
    width:100%;
    height:10%;
}
.app{
    width:100%;
    height:100%;
    background:#C94040;
    transition: 1s;
}
.logo{
    font-size:2em;
    font-family: 'Fredoka One',Arial, sans-serif;
    text-align: center;
    margin: auto;
    color:#fff;
}
/* botões e menus*/
.container{
    width:80%;
    height: 30%;
    margin: 30% auto;
    padding: 10% 0%;
    text-align:center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}
.menu{
    margin: 2% auto;
}
.btn-menu{
    all:unset;
    background-color: transparent;
    padding: 1%;
    font-size:0.8em;
    text-align: center;
    color:#fff;
    cursor:pointer;

}
.btn-menu:hover{
    color:#C94040;
}
.timer-str{
    font-size: 4em;
    font-family: 'Fredoka One',Arial, sans-serif;
    color:#fff;
    border-radius: 50%;
    margin: auto;
}
.btn-timer{
    all:unset;
    width: 30%;
    padding:2%;
    font-size:1.12em;
    font-family: 'Fredoka One',Arial, sans-serif;
    border-radius: 25px;
    background-color: #fff;
    color: #C94040;
    cursor:pointer;
}
.btn-timer:hover{
    background-color: #C94040;
    color: #fff;
}
/* Contagem ate pausa longa*/
.progress{
    width:30%;
    margin: 5% auto;
    
}
.progress div{
    display: inline-block;
    width:15px;
    height:15px;
    margin: auto;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}

/* Pagina Sobre*/
.pg{width:70%;height:90%;margin: auto; padding:10%;background-color:#ffff}

/* footer*/
footer{height:3%;font-size:0.8em;color:#fff;text-align:center;background-color: #C94040;padding:1%;}

/* ----Mobile First----*/
/* Small devices 667px*/
@media screen and (min-width:667px){
.container{
    width:70%;
    height: 35%;

}

/* Tablets & Laptop 960px*/
@media screen and (min-width: 960px){
    .container{width:20%; height:40%;margin:3% auto; padding:5%;}
    .btn-menu{font-size:1em}
    .btn-timer{padding:5%;}
    .pg{padding:3%;height:85%;}
    .timer-str{font-size:6em}
    footer{height:2%;}
    h2{font-size:2.5em}
    p{font-size:1.5em}
}