@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
 /* Configuração padrão*/
*{
  font-size: 100%;
  font-family: 'Concert One', sans-serif;
  line-height: 1.5em;
  color:rgb(51, 51, 51);
}
html,body{
  margin:0;
  background-color: #E1E1E1;
}
h2{
  font-size: 20pt;
  color: #CD311A;
}
h3{
  font-size: 18pt;
  color:#CD311A;
}
p{
  font-size: 16pt;
}
/* Estilo da pagina principal*/
.interface{
  margin:0;
  width:100%;
  height:100vh;
  background:#890C06;
}

.pg-principal{
  width:60%;
  height: 100vh;
  margin:auto;
}
.menu{
  width:100%;
  height:50px;
}
.logo{
  padding:10px;
  font-size:24pt;
  color:white;
}
/* Esitlo do Cronômetro e botões*/
.pomo-container{
  width:50%;
  height:55%;
  margin:50px auto;
  padding: 25px;
  border-radius: 20%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
.pomo-bt{
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  color:rgb(51, 51, 51);
}
.pomo-bt:hover{
  color:#BC0B05;
}
.timer-string{
  font-size:72pt;
  margin: 20px;
}
.timer-bt{
  display: inline-block;
  border:none;
  margin:5px;
  background-color: #BC0B05;
  border-radius: 10%;
  box-shadow:2px 2px rgba(0, 0, 0, 0.5);
  padding: 15px 25px 15px 25px;
  font-size: 16px;
  color:#fff;
}
.timer-bt:hover{
  background-color:#CD311A;
}
/* Estilo padrão das paginas*/
.pg{
  width: 60%;
  padding: 40px;
  margin: auto;
  background-color: white;
}